{
  "extends": "airbnb",
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "react/forbid-prop-types": "warn",
    "react/jsx-filename-extension": "off",
    "react/no-multi-comp": "warn"
  }
}